*{
  margin:0;
  padding:0;
}

#container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

/* #map {
  width:100%;
  max-width: 680px;
  margin: 0 auto;
  height: 300px;
} */

#shop-list {
  list-style: none;
  width: 100%;
}
#content {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}


h1 {
  text-align: center;
  border-bottom: solid 1px #5555;
  margin: 20px;
  font-size: 20px;
}
a {
  display: flex;
  text-decoration: none;
  color: #555;
}
.each-shop {
  margin: 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #5555;
  position: relative;
}
.shop-img {
  width:100px;
  height: 100px;
}
.shop-name{
  font-weight: bold;
  border-bottom: solid 1px #5555;
}
.time {
  font-size: 12px;
}
.shop-container {
  margin: 10px;
}

@media screen and (min-width: 750px){
  h1 {
    font-size: 24px;
  }
}